<div class="mx-auto align-content-center" style="color: white; width: 400px;">
  <%= bootstrap_form_for(@contact, layout: :vertical, local: true) do |f| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :phone_number %>
    <%= f.text_field :email %>
    <%= f.text_field :address %>
    <div class="row">
      <div class="col text-center">
        <%= f.submit "Save", class: "btn btn-light btn-lg" %>
      </div>
    </div>
  <% end %>
</div>