
<p id="notice"><%= notice %></p>

<h1 class="text-center" style="color: white">Contacts</h1>

<div class="container bg-dark">
  <div class="list-group">
    <% @contacts.each do |contact| %>
        <a class="list-group-item list-group-item-action text-dark text-center bg-light" style="font-size: 1.5em" href="/contacts/<%= contact.id %>" role="button"><%= contact.first_name %> <%= contact.last_name %></a>     
    <% end %>
  
    <a class="btn btn-info btn-lg btn-block text-white" href="<%= new_contact_path %>" role="button">New Contact</a>
  </div>
</div>