
<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
  <a class="btn btn-link btn-small float-left" style="color: white;" href="<%= address_books_path %>">Back</a>
  <div>
    <%= link_to new_address_book_contact_path(@address_book, @contact), remote: true, class: "btn btn-info text-white float-right" do %>
      <i class="fas fa-plus fa-sm"></i> New Contact
    <% end %>
    <div class="clearfix"></div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-2 text-center">
    <div class="align-center">
      <br>
      <br>
      <ul class="nav flex-column" style="color: white;">
        <% @address_books.each do |address_book| %>
          <% if address_book != @address_book %>
            <li class="nav-item">
              <%= link_to "#{address_book.name}", address_book, class: "btn btn-light text-center", style: "color: black; width: 8.5em;" %>
            </li>
            <br>
          <% end %>
        <% end %>  
      </ul>
      <br>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-left" style="color: white"><%= @address_book.name %></h1>
      </div>
      <div class="container bg-dark">
        <div class="list-group">

          <% @contacts.each do |contact| %>

            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  <%= link_to delete_address_book_contact_path(@address_book, contact), remote: true, class: "btn btn-light text-dark float-right", style: "color: black;" do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                  <%= link_to edit_address_book_contact_path(@address_book, contact), remote: true, class: "btn btn-light float-right" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to address_book_contact_path(@address_book, contact), remote: true, class: "btn btn-light btn-block text-dark text-center bg-light text-center", style: "font-size: 1.5em" do %>
                    <%= contact.first_name %> <%= contact.last_name %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>