<div class="row">
  <div class="mx-auto align-content-center">  
    <div class="card card-info mt-5">
      <div class="card-header text-center">
        <i class="fas fa-book-open fa-2x">
        </i>
        <h2>Log in</h2>
      </div>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter Email', class: "width-100 pb-1 pt-1" %>
          </div>

          <div class="field mt-4">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Enter Password', class: "width-100 pb-1 pt-1" %>
            <%= link_to "Forgot your password?", new_user_password_path, class: "text-dark" %>
          </div>
          
          <% if devise_mapping.rememberable? %>
            <div class="check-group mt-4">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
      </div>
          <div class="card-footer width-100">
            <div class="actions width-100 text-center">
              <%= f.submit "Log in", class: "btn btn-block btn-info" %>
              <%= link_to "Sign up", new_user_registration_path, class: "text-dark" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
