<div class="row">
  <div class="col-12">  
    <div class="card card-info width-33 login-center">
      <div class="card-header text-center">
        <i class="fas fa-book-open fa-2x">
        </i>
        <h2>Log in</h2>
      </div>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter Email', class: 'width-100' %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Enter Password', class: "width-100" %>
          </div>
          
          <% if devise_mapping.rememberable? %>
            <div class="check-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
      </div>
          <div class="card-footer">
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-block btn-info" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
