<p id="notice" class="text-center"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @address_book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @address_book.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @address_book.user_id %>
</p>

<%= link_to 'Edit', edit_address_book_path(@address_book) %> |
<%= link_to 'Back', address_books_path %>
