<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user.email %> <%= button_to 'sign_out', "/users/sign_out", method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
